* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.songs {
    width: 100%;
    height: 100%;
    position: relative;
}
form > :first-child  {
    outline: none;
    border: 1px solid #aaa;
    transition: all .3s;
    border-radius: 2px;
  }
form > :first-child {
    width: 400px;
    font-size: 18px;
    height: 24px;
    padding: 2px 8px;
  }
form > :nth-child(1):focus {
    box-shadow: 0 0 7px #1abc9c;
    border: 1px solid #1abc9c;
}

form > :last-child {
    margin-top: 4px;
    margin-left: 7px;
    font-size: 16px;
    height: 40px;
    padding: 2px 8px;
}
form button {
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.1);
}
form button:hover {
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .1);
    
}
.result {
    text-align: center;
}
.searchresult {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.noalbum{
    display: none;
}
.flex {
    padding: 3px 1px;
    display: flex;
    flex-direction: row;
}
.flex > :nth-child(2) {
    padding-top: 1.7em;
    padding-bottom: 0.5em;
    

}
.flex > :nth-child(2):nth-child(2){
    font-family: 'Courier New', Courier, monospace;
}

.album {
    width:			300px;
    height:			230px;
    overflow:		hidden; 
    margin:			10px 8px 10px 16px;
    position: relative;
    border: ridge 10px #87CEFA;
}
.mask {
    width:			100%;
    height:			100%;
    position:		absolute;
    top:			-100%;
    opacity:            0; /* マスクにする　*/
    
    background-color:	rgba(0,0,0,0.4);
    transition:		all 0.6s ease;
}  

.caption {
    font-size:		130%;
    text-align: 		center;
    color:			#fff;
}

img.alabumImage {
    width: 80%;
    height: 80%;
    position: absolute;
}

.album:hover .mask {
    opacity:		1;	/* マスクを完全に不透明表示する */
    padding-top:		80px;	/* ホバーで下にずらす */
    top: 0;
}